<ion-header>
    <ion-toolbar>
        <ion-title>categoria</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formCategoria" (ngSubmit)="addcategoria()">
        <ion-list>

            <!-- eliminamos el campo id porque en firebase no lo necesitamos -->
            <!-- <ion-row>
                <ion-col col-md-12>
                    <ion-item>
                        <ion-input formControlName="idCategoria" type="number" placeholder="Ingrese el ID Categoria">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>  -->

            <ion-row>
                <ion-col col-md-12>
                    <ion-item>
                        <ion-input formControlName="nombreCategoria" type="text" placeholder="Ingrese el Nombre Categoria">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-md-12>
                    <ion-item>
                        <ion-input formControlName="descripcion" type="text" placeholder="Ingrese la Descripcion">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-list>
        <button type="submit" class="btn-secondary">Enviar</button>

    </form>
</ion-content>