<ion-header>
    <ion-toolbar>
        <ion-title>marketing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formMarketing" (ngSubmit)="addMarketing()">
        <ion-list>

            <!-- <ion-row>
                <ion-col col-md-12>
                    <ion-item>                        
                        <ion-input formControlName="idMarketing" type="number" placeholder="Ingrese el ID ">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> -->

            <ion-row>
                <ion-col col-md-12>
                    <ion-item>
                        <!-- <ion-label>Ingrese un Comentario</ion-label> -->
                        <ion-input formControlName="comentario" type="text" placeholder="Ingrese un Comentario">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-md-12>
                    <ion-item>
                        <!-- <ion-label>Ingrese una Calificacion</ion-label> -->
                        <ion-input formControlName="calificacion" type="number" placeholder="Ingrese una Calificacion">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-list>

        <button type="submit" class="btn btn-secondary"> Agregar</button>
    </form>
</ion-content>